h1 {font-family: cursive; text-align: center;}
h2 {font-family: sans-serif; text-align: center; }
#customerlist {visibility: hidden; position: absolute; height: 75%; width: 100%; overflow: scroll; background-color: #999; }
#orderhistory {visibility: hidden; position: absolute; height: 75%; width: 100%; overflow: scroll; background-color: #99FFFF; }
#about {visibility: hidden; position: absolute; height: 75%; width: 100%; overflow: scroll; background-color: #CCFFFF; }
table, th, td {background-color: white; table-layout: auto; padding: 5px; text-align: center;}